CREATE DATABASE LatLongCR

USE [LatLongCR]
GO
/****** Object:  Table [dbo].[Ubicacion]    Script Date: 15/04/2019 02:10:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicacion](
	[Codigo] [float] NULL,
	[Provincia] [nvarchar](255) NULL,
	[Canton] [nvarchar](255) NULL,
	[Distrito] [nvarchar](255) NULL,
	[Lat] [nchar](500) NULL,
	[Long] [nchar](500) NULL
) ON [PRIMARY]
GO
