/* Colores */
:root{
	--naranja: #F5811E;
	--azul: #2D8AA9;
}
	


/* Ocultar Forms */

#alert, #register-box, #forgot-box, #loader{
	display: none;
}

nav.navegacionPrincipal{
	background-color: var(--naranja);
}

img.loaderGif{
	width: 90px;
	height: 90px;
}