/* Colores */
:root{
	--naranja: #F5811E;
	--azul: #2D8AA9;
}
	


/* Ocultar Forms */

#alert, #register-box, #forgot-box, #loader{
	display: none;
}

nav.navegacionPrincipal{
	background-color: var(--naranja);
}

img.loaderGif{
	width: 90px;
	height: 90px;
}

/*Principal*/

div.cartCard{
	width: 350px;
}

div img.miniCart{
	width: 60px;
	height: 60px;
}

div.dropMenuSize{
	width: 400px;
}

